<h1 class= "my-4 mx-3 custom-h1 center">Listing articles</h1>

<% @all_artis.each do |article| %>
<div class="row">
	<div class="col-sm-8 offset-sm-2">
		<div class="card mb-3">
			<div class="card-header boldc">
				<%= link_to "#{article.title}", article_path(article), class: "arti-title" %>
			</div>
			<div class="card-body">
				<%= truncate(article.description, length: 200) %>
				<br>
				<br>
				<small class="index-author">Created by: <%= article.user.username if article.user %>, <%= time_ago_in_words(article.created_at)  %> ago, last updated: <%= time_ago_in_words(article.updated_at) %> 
				</small>
			</div>
			<div class="btns d-flex flex-row py-3 mx-auto">
				<%= link_to 'Edit this article', edit_article_path(article), class: "btn btn-sm btn-primary mx-4" %>
				<%= link_to "Delete this article", article_path(article), method: :delete, data: { confirm: "Are you sure?"}, 
																					class: "btn btn-sm btn-danger mx-4" %>
			</div>
		</div>
	</div>
</div>
<% end %>